*.exe
test.go
draw_examples.py
newest_result*

lessChain*
*DS_Store



data/*.csv
eth_chain/geth-chain-data/data/geth
experiments/figs
experiments/results*
experiments/*.log
logs
pbftLog
lessChain
lessChain.exe
newest_result.csv
newest_result.log
*.log